.backLinkContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.backLink {
    display: flex;
}

.iconContainer {
    width: 20px;
    height: 20px;
}

.loader {
    width: 100px;
    margin: 0 auto;
}

.addTitle {
    margin-bottom: 10px;
}

.linkContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.active {
    color: blue;
}

.link {
    text-decoration: underline;
}